@mixin boton-conocer-mas{
    display: inline-block;
    padding: 8px 16px;
    color: #6cc091;
    text-decoration: none;
    border: 3px solid #5d8b6b;
    border-radius: 30px;
    transition: 0.4s;
        &:hover{
            color: white;
            font-size: 18px;
            background-color: #6cc091;
        }
}